
html,
body {
	font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
	color: #eee;
	background-color: #222;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 15px;
}

#content {
  padding: 10px;
  padding-bottom: 20px;
}

i {
  color: #eee;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

#current-icon {
  padding-top: 1.2rem;
}

#forecast {
  padding-top: 2rem;
}

#sunrise {
  padding-bottom: 2rem;
}

.high {
  color: #ffc0cb;
}

.low {
  color: #99cfe0;
}

#footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 20px;
  background-color: #222;
  text-align: center;
}

#footer a {
  color: #eee;
  text-decoration: underline;
}

#footer a:hover, .footer a:visited {
  color: #eee;
}

.peace {
  color: #eee;
}

.love {
  color: #FF369B;
}

@font-face {
    font-family: 'weather';
    src: url('artillcleanweathericons-Regular.eot');
    src: url('artillcleanweathericons-Regular.eot?#iefix')
             format('embedded-opentype'),
         url('artillcleanweathericons-Regular.woff') format('woff'),
         url('artillcleanweathericons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 320px) {

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .panel {
    font-size: 12px;
  }

  #footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 960px) {

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .panel {
    font-size: 16px;
  }

  #footer {
    font-size: 1.20rem;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
