
body {
	font-family: sans-serif;
	font-size: 100%;
  height: 100%;
	margin-top: 60px;
	color: #eee;
	background-color: #222;
}


i {
  color: #eee;
  /*Sfont-family: weather;*/
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.high {
  color: #ffc0cb;
}

.low {
  color: #99cfe0;
}

.footer {
  clear: both;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  /*padding-top: 20px;*/
  background-color: #222;
  text-align: center;
}

.footer a {
  color: #eee;
  text-decoration: underline;
}

.footer a:hover, .footer a:visited {
  color: #eee;
}

.peace {
  color: #eee;
}

.love {
  /*color: #f00; */
  color: #FF369B;
}

#unit, #unit:active, #unit:visited {
  background-color: #222;
  border-style: none;
  color: #eee;
}

@media screen and (min-width: 320px) {
  /*footer {
    height: 100%;
  }*/
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  /*.heading {
    border-radius: 40px;
    margin: 10px auto;
    padding-bottom: 10px;
    width: 90%;
  }*/

  .panel {
    font-size: 12px;
  }

  .footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 960px) {

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  /*.heading {
    border-radius: 40px;
    margin: 30px auto;
    padding-bottom: 5px;
    width: 90%;
  }*/

  .panel {
    font-size: 16px;
  }

  .footer {
    font-size: 1.25rem;
  }
}
