body {
  font-family: 'Merriweather', sans-serif;
  position: relative;
}
a {
  text-decoration: none;
}
h3 {
  margin: 0 0 1em;
}
h4 {
  font-family: 'Lato', sans-serif;
}
#portfolio {
  font-family: 'Lato', sans-serif;
}
#wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding: 8.5em 5%;
}

.profile-image {
  padding: 2em 0 2em 0;
}

.about-text {
  text-align: justify;
}
.to-top a {
  color: #000;
  right: 10px;
}
.to-top a:hover {
  text-decoration: none;
}
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  z-index: 100;
}
#logo {
  margin: 0;
  text-align: center;
  text-decoration: none;
}
h1 {
  font-family: "Lato", sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  margin: 15px 0;
}
h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: -5px 0 0;
}
nav {
  margin: 20px 0 0;
  padding: 10px 0;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  padding: 15px 10px;
}
footer {
  clear: both;
  color: #ff8787;
  font-size: 1em;
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
footer a {
  color: #ff8787;
}
header {
  background: #1c1c1c;
  border-color: #1c1c1c;
}
footer {
  background: #1c1c1c;
  border-color: #1c1c1c;
}
#logo:hover {
  color: #ff8787;
}
h1,
h2 {
  color: #ff8787;
}
h4 {
  color: #3d3d3d;
}
nav {
  background: #1c1c1c;
}
nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #ff8787;
  text-decoration: none;
}
#portfolio a {
  color: #1c1c1c;
  text-align: center;
  text-decoration: none;
}
body {
  background-color: #fbfbfb;
  color: #7a7a7a;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail:active {
  border-color: #ddd;
}
.peace {
  color: #fff;
}
.love {
  color: #f00;
}
@media screen and (min-width: 860px) {
  footer {
    border-bottom: 5px solid #1c1c1c;
    height: 100%;
  }
  header {
    border-bottom: 5px solid #1c1c1c;
    margin-bottom: 60px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
    margin: 10px;
  }
  nav {
    background: none;
    float: right;
    font-size: 1.25em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    text-decoration: none;
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .affix,
  .affix-bottom {
    width: 263px;
  }
}
